.table-container {
  margin: 20px;
}

.table {
  overflow-x: auto;
  scrollbar-width: thin;

  &__actions {
    display: flex;
    justify-content: space-between;
    mat-form-field {
      width: clamp(240px, 34vw, 340px);
    }
    button {
      margin-inline-start: 10px;
    }
  }
  table {
    width: 100%;
  }
  th,
  td {
    white-space: nowrap;
  }
}
