<h2 mat-dialog-title>انتخاب موقعیت مکانی</h2>

<mat-dialog-content>
  <p class="geo-hint">روی نقشه کلیک کنید تا نقطه مورد نظر انتخاب شود.</p>

  <div id="geo-picker-map" class="geo-map"></div>

  <div class="geo-readout">
    <ng-container *ngIf="selected() as point; else noPoint">
      <span>عرض جغرافیایی: <b>{{ point.latitude | number: '1.6-6' }}</b></span>
      <span>طول جغرافیایی: <b>{{ point.longitude | number: '1.6-6' }}</b></span>
    </ng-container>
    <ng-template #noPoint>
      <span class="geo-readout__empty">هنوز نقطه‌ای انتخاب نشده است</span>
    </ng-template>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">انصراف</button>
  <button mat-flat-button color="primary" [disabled]="!selected()" (click)="confirm()">
    تأیید
  </button>
</mat-dialog-actions>
